.border{
    /*width: 200px;
    height: 100px;
    border-radius: 40px;
    border-width: 10px;
    border-top-style: double;
    border-top-color: chartreuse;
    border-left-style: groove;
    border-left-color: crimson;
    border-right-style: dotted;
    border-right-color: rgb(255, 153, 0);
    border-bottom-style:dashed;
    border-bottom-color: rgb(0, 255, 179);*/
}
.block{
    width: 200px;
    height: 100px;
    background-color: rgb(0, 14, 145);
    border-radius: 30px;
    border-width: 10px;
    border-top-style: double;
    border-top-color: chartreuse;
    border-left-style: groove;
    border-left-color: crimson;
    border-right-style: dotted;
    border-right-color: rgb(255, 153, 0);
    border-bottom-style:dashed;
    border-bottom-color: rgb(0, 255, 179);
}
